/*! import twitter bootstrap on LESS compile */
@import "bootstrap.less";

// CSS Reset
@import "../less/reset.less";

// Core variables and mixins
@import "../less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "../less/mixins.less";

// Grid system and page structure
@import "../less/scaffolding.less";
@import "../less/grid.less";
// @import "../less/layouts.less";

// Base CSS
@import "../less/type.less";
@import "../less/code.less";
@import "../less/forms.less";
@import "../less/tables.less";

// Components: common
// @import "../less/sprites.less";
// @import "../less/dropdowns.less";
// @import "../less/wells.less";
// @import "../less/component-animations.less";
// @import "../less/close.less";

// Components: Buttons & Alerts
@import "../less/buttons.less";
@import "../less/button-groups.less";
@import "../less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
// @import "../less/navs.less";
// @import "../less/navbar.less";
// @import "../less/breadcrumbs.less";
// @import "../less/pagination.less";
// @import "../less/pager.less";

// Components: Popovers
// @import "../less/modals.less";
// @import "../less/tooltip.less";
// @import "../less/popovers.less";

// Components: Misc
// @import "../less/thumbnails.less";
// @import "../less/labels.less";
// @import "../less/badges.less";
// @import "../less/progress-bars.less";
// @import "../less/accordion.less";
// @import "../less/carousel.less";
// @import "../less/hero-unit.less";

// Utility classes
//@import "../less/utilities.less"; // Has to be last to override when necessary

/*! Begin Jakob Anderson's Custom CSS */

/* Page-specific conditionals, applied through css inheritance */
/* mixin function to define the contents into reusable code */
.active_item(){
	color: white;
	background-color: #08C;
	text-decoration: none;
}
/* css rules to use the mixin to highlight the active page on the nav */
#home { 
	li.pg_home a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignments { 
	li.pg_assignments a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignment2 { 
	li.pg_assignment2 a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignment3 { 
	li.pg_assignment3 a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignment4 { 
	li.pg_assignment4 a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignment5 { 
	li.pg_assignment5 a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignment6 { 
	li.pg_assignment6 a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignment7 { 
	li.pg_assignment7 a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignment8 { 
	li.pg_assignment8 a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignment9 { 
	li.pg_assignment9 a{
		.active_item;
		&:hover{.active_item}
	}
}
#assignment10 { 
	li.pg_assignment10 a{
		.active_item;
		&:hover{.active_item}
	}
}
// .nav-list > .active > a, .nav-list > .active > a:hover {
// 	color: white;
// 	background-color: #08C;
// 	text-decoration: none;
// }

/* Header nav/branding area */
.nav {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
}
.navbar {
	color: #999;
	clear: both;
	margin: 0 0 20px;
	.nav {
		position: relative;
		left: 0;
		display: block;
		float: left;
		margin: 0 10px 0 0;
		padding:25px 5px;
		&> li {
			display: block;
			float: left;
      		margin-left: 5px;
			&> a {
        		position:relative;
        		top:0;
        		opacity: 0.7;
				float: none;
				padding: 10px 10px 11px;
				line-height: 19px;
				color: #999;
				text-decoration: none;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
				&:hover {
					background-color: transparent;
					color: white;
					text-decoration: none;
					box-shadow: inset 0px 0px 19px rgba(0,0,0,0.2);
				}
			}
      &.nav-header {
        margin-left:0px;
      }
		}
		.active > a, .active > a:hover {
			color: white;
			text-decoration: none;
			background-color: #222;
		}
	}
	.brand {
		float: left;
		display: block;
		padding: 25px 20px 25px;
		margin-left: -20px;
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		color: white;
		text-decoration:none;
	}
}

.navbar-inner {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #2C2C2C;
	background-image: -moz-linear-gradient(top, #333, #222);
	background-image: -ms-linear-gradient(top, #333, #222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
	background-image: -webkit-linear-gradient(top, #333, #222);
	background-image: -o-linear-gradient(top, #333, #222);
	background-image: linear-gradient(top, #333, #222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 0 23px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 0 23px rgba(0, 0, 0, 0.8);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 0 23px rgba(0, 0, 0, 0.8);
}

/* Homepage message area */
.hero-unit {
	padding: 20px 40px;
	margin-bottom: 30px;
	background-color: #EEE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.hero-unit {
	h1 {
		line-height:1em;
		margin-bottom:0.3em;
	}
	img {
    // display:none;
		margin: 25px 0;
		width:100%;
	}
}
#home .hero_unit h1 {
	font-size:96px;
}
.mainhero.span9 {
  float:left;
}

/* Left nav area */
.leftnav.span3 {
  float: left;
  // margin-right: 20px;
}
.well {
  // display:none;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: whiteSmoke;
	border: 1px solid #EEE;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.sidebar-nav {
	padding: 9px 0;
}
.nav {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
}
.nav-list {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0;
}
.nav .nav-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;

}
.nav-list > li > a, .nav-list .nav-header {
	margin-left: -15px;
	margin-right: -15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	display:block;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #08C;
	text-decoration:none;
}
.nav-list > li > a {
	padding: 3px 15px;
	text-decoration:none;
}
div#footer {
  clear:both;
}
/*internal page styles*/
.nav.nav-list.internal {
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:5px;
  padding:20px;
}
.ie7, .ie8, .ie9 {
	.navbar {
		background-color:#333;
		.navbar-inner {
			display:block;
			width:100%;
		}
	}
}
#assignment2 {
	.success{  
	    border: 2px solid #009400;  
	    background: #B3FFB3;  
	    color: #555;  
	    font-weight: bold;  
	}  
	  
	.error{  
	    border: 2px solid #DE001A;  
	    background: #FFA8B3;  
	    color: #000;  
	    font-weight: bold;  
	}  
	legend, label {
		color:#08C;
		font-weight:700;
		// font-family: 'VT323', cursive;
		font-size: 200%;
		// -webkit-font-smoothing: none;
		color: hsl(200,100%,50%);
		text-shadow: 0 -1px 0px hsla(200,100%,70%,1), 0 1px 0px hsla(0,0%,0%,.8), 0 0 13px hsl(200,100%,50%);
		margin: 30px 0 15px;
		line-height:100%;
	}
	.hero-unit {
		color:#dfdfdf;
		font: 62.5%/1 "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
		background-color: #242728;
		background-size: 5px 5px;
		background-image: -webkit-linear-gradient( 45deg, transparent 0px, rgba(0, 0, 0, .10) 50%, transparent 100% );
	}
	#scifi_form {
		list-style: none;
		padding: 30px 0;
		margin: 0;
		font-size: 2em;
		//text-align: center;
		background-image: -webkit-linear-gradient( 0deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, .09) 50%, rgba(255, 255, 255, 0) 100% );
	}

	/* 
	 * umbrUI number input by @simurai
	 */

	// @import url('http://fonts.googleapis.com/css?family=VT323');


	/* -------------- number -------------- */

	input[type="number"] {
		-webkit-appearance:	none;
		outline: none;
		position: relative;
		z-index: 1;
		
		width: 120px;
		height: 60px;
	    border-radius: 40px / 60px;    
		
		font-family: 'VT323', cursive;
		font-size: 36px;
		line-height: 40px;
		text-align: center;
		-webkit-font-smoothing: none;
		color: hsl(200,100%,50%);
		text-shadow: 0 -1px 0px hsla(200,100%,70%,1), 0 1px 0px hsla(0,0%,0%,.8), 0 0 13px hsl(200,100%,50%);
		
		border: 0;
		
		background-color: hsl(200,10%,12%);
		background-size: 4px 4px;
		background-image: 	-webkit-linear-gradient( 0deg, hsla(0,0%,0%,0) 75%, hsla(0,0%,0%,.4) 75% ),
							-webkit-linear-gradient( 90deg, hsla(0,0%,0%,0) 75%, hsla(0,0%,0%,.4) 75% );	
			
		-webkit-box-shadow: inset 0 0 0 4px hsla(0,0%,0%,1),
							inset 0 0 20px 5px hsla(0,0%,0%,.5),
							0 0px 0px 1px hsla(0,0%,0%,.4),
							0 1px 0 hsla(0,0%,100%,.25);																				
	}


	/* Outer spin only works in Safari, so lets hide it */
	input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }


	/* Spin button */
	input[type="number"]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    width: 32px;
	    border-radius: 40px / 60px;    
	    border: 4px solid #000;
	    cursor: ns-resize;
	    
	    -webkit-box-shadow: inset 0px 0px 3px 1px hsla(0,0%,0%,.6),
	    					inset 0px 6px 1px -2px hsla(0,0%,100%,.30),
	    					inset 0px -7px 1px -1px hsla(0,0%,0%,.5);
	    
	    background-color: hsl(0,0%,20%);
	    background-image: 
	    				
	    				-webkit-radial-gradient( 50% 5%, contain, 	hsla(0,0%,100%,.2) 0%, hsla(0,0%,0%,0) 70% ),
	    				-webkit-radial-gradient( 50% 86%, contain, 	hsla(0,0%,100%,.05) 0%, hsla(0,0%,0%,0) 80% ),
	    				-webkit-linear-gradient( -90deg, 	hsl(0,0%,15%) 0%, 
	    													hsl(0,0%,18%) 48%,
	    													hsl(0,0%,10%) 48%,
	    													hsl(0,0%,27%) 52%, 
	    													hsl(0,0%,20%) 52%, 
	    													hsl(0,0%,34%) 100% );
	        													
	    -webkit-transition: border-color .2s ease-in-out;
	}


	/* :active */

	input[type="number"]:active::-webkit-inner-spin-button {
		border-color: hsla(200,100%,50%,1);
		-webkit-box-shadow: inset 0px 0px 3px 1px hsla(200,100%,20%,.6),
							inset 0px 6px 1px -2px hsla(200,100%,70%,.4),
							inset 0px -7px 1px -1px hsla(200,100%,10%,.5),
							0px 0px 4px 3px hsla(200,100%,50%,.3);
	    
	    -webkit-transition: none;													
	}

	/* Assignment 2 Forms Style */
	input[type="image"], input[type="checkbox"], input[type="radio"] {
		top: -2px;
		position: relative;
		margin: 5px 0;
	}
	  .radio_list {
		span {
			margin: 0px 0px 0px 10px;
		}
	}
	/* End Assignment 2 Forms Style */
}


/* Fun and responsive media query stuff here */
// Landscape phones and down
@media (max-width: 480px) {  }

// Landscape phone to portrait tablet
@media (max-width: 768px) {  }

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 980px) {  }

// Large desktop
@media (min-width: 1200px) {  }







